body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
}

header{
    background-color: white;
    padding:  0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section{
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    background-color: rgb(167, 159, 159);
}