body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: white;
    padding:  0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: inherit;
}

#logo{
    color: rgb(129, 126, 126);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.text{
    font-size: 1.3rem;
}

#my-books:hover{
    color: rgb(129, 126, 126);
    cursor: pointer;
}

section{
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-button{
    padding: 0;
    margin: 0;
    font-size: 3rem;
}

#add-button:hover{
    color: rgb(129, 126, 126);
    cursor: pointer;
}



footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    background-color: rgb(167, 159, 159);
}