body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.visible{
    visibility: visible;
}

header{
    background-color: white;
    padding:  0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: inherit;
}

#logo{
    color: rgb(129, 126, 126);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.text{
    font-size: 1.3rem;
}

#my-books:hover{
    color: rgb(190, 184, 184);
    cursor: pointer;
}

section{
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(49, 47, 47);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-button{
    padding: 0;
    margin: 0;
    font-size: 3rem;
}

#add-button:hover{
    color: rgb(129, 126, 126);
    cursor: pointer;
}

/* dialog{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    width: 350px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    
}

dialog > div{
    margin: 10px;
}

button:hover{
    cursor: pointer;
} */

::backdrop{
    background-color: whitesmoke;
    opacity: 0.7;
}

table{
    border: solid black 2px;
    padding: 10px;
    width: 80%;
    padding: 20px;
    margin: auto;
    background-color: white;
    visibility: hidden;
}

td, th{
    border: solid black 1px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

th{
    font-size: 1.3rem;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    background-color: rgb(167, 159, 159);
    margin-top: 40px;
    padding: 5px;
}